@model IEnumerable<EntityLayer.Concrate.About>

<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            @foreach (var item in Model)
            {
<div class="col-md-4">
    <h3 class="footer-heading mb-4">Hakkımızda</h3>
    <p>@item.AboutContent1</p>
</div>      }
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/About/Index">Hakkımızda</a></li>
                    <li><a href="/Contact/Index">İletişim</a></li>
                    <li><a href="/Blog/Index">Ana Sayfa</a></li>
                    <li><a href="/Blog/AdminBlogList">Yazar Girişi</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="/Blog/BlogByCategory/4">Tarih</a></li>
                    <li><a href="/Blog/BlogByCategory/1">Yazılım</a></li>
                    <li><a href="/Blog/BlogByCategory/2">Teknoloji</a></li>
                    <li><a href="/Blog/BlogByCategory/3">Film&Dizi</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Sosyal Medya Hesaplarımız</h3>
                    <p>
                        <a target="_blank" href="https://www.linkedin.com/in/muhammet-aziz-açiker-2a9a50243"><span class="icon-linkedin p-2"></span></a>
                        <a target="_blank" href="https://github.com/muhammetaziz"><span class="icon-github p-2"></span></a>
                        <a target="_blank" href="https://twitter.com/muhammetazizzz"><span class="icon-twitter p-2"></span></a>
                        <a target="_blank" href="https://www.instagram.com/muhammet_aziz/?utm_source=qr&r=nametag"><span class="icon-instagram p-2"></span></a>
                        <a target="_blank" href="mailto:m.aziz.aciker@gmail.com"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>

