@model IEnumerable<EntityLayer.Concrate.Category>
<div class="sidebar-box">

    <h3 class="heading">Kategoriler</h3>
    @foreach (var item in Model)
    {
<ul class="categories">
    <li class="border-bottom" style="height:40px"><a href="/Blog/BlogByCategory/@item.CategoryID">@item.CategoryName  </a></li>
</ul>
    }
</div>