
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/miniblog/images/hero_1.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">İletişim</h1>
                    <p class="lead mb-4 text-white">Bizimle iletişime geçmek için aşşağıdaki formu doldurabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">



                <form action="#" class="p-5 bg-white">


                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">İsim</label>
                            <input type="text" id="fname" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Soyisim</label>
                            <input type="text" id="lname" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">E-mail</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">Başlık</label>
                            <input type="subject" id="subject" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Mesaj</label>
                            <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Sorun ve önerilerinizi buraya yazabilirsiniz..."></textarea>
                        </div>
                    </div>
                     
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Gönder" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Adres</p>
                    <p class="mb-4"> Kızıltoprak caddesi no 82,Kadıköy, İstanbul, Türkiye</p>

                    <p class="mb-0 font-weight-bold">Telefon</p>
                    <p class="mb-4"><a href="tel:+905347926030">+905347926030</a></p>

                    <p class="mb-0 font-weight-bold">E-mail</p>
                    <p class="mb-0"><a href="mailto:m.aziz.aciker@gmail.com">m.aziz.aciker@gmail.com</a></p>

                </div>

            </div>
        </div>
    </div>
</div>

@Html.Action("Footer", "About")
