<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Haberdar olmak için abone olun</h2>
                    <p class="mb-5">Birbirinden farklı postlara erişmek için tek yapman gereken</p>
                    <form action="#" class="d-flex">
                        <input type="text" class="form-control" placeholder="E-mail adresinizi giriniz...">
                        <input type="submit" class="btn btn-primary" value="Abone ol">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>