@model IEnumerable<EntityLayer.Concrate.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
} 
<h2>Yazar Profil bilgileri</h2> 
<!DOCTYPE html> 
<html> 
<body class="hold-transition sidebar-mini"> 
    <div class="wrapper"> 
        <section class="content"> 
            <div class="container-fluid"> 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="card"> 
                            <div class="card-body">
                                @Html.Action("Partial1", "User") 
                            </div> 
                        </div>  
                    </div> 
                </div> 
            </div> 
        </section> 
    </div> 
</body> 
</html>
